body {
  margin: 0;
  background: #ffe6f0;
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 10px dashed hotpink;
  background: #fff0f5;
}

h1 {
  font-size: 3rem;
  color: hotpink;
  animation: brillar 2s infinite alternate;
}

@keyframes brillar {
  from { text-shadow: 0 0 5px pink; }
  to { text-shadow: 0 0 20px deeppink; }
}
